// Variables
$header-height: 60px;
$header-background: #333333;
$header-text-color: #ffffff;
$footer-background: #333333;
$footer-text-color: #ffffff;
$light_amount: 20%;
 
//styles
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=DM+Sans:opsz,wght@9..40,300&family=IBM+Plex+Mono:wght@200&family=Montserrat&family=Mukta:wght@300&family=Oswald&display=swap');

// mixins
@mixin Font_style(){
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}

// Стили хедера
header {
  height: $header-height;
  background-color: $header-background;
  color: $header-text-color;
  padding: 10px;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  nav {
    padding: 150px;
    width: auto;

    ul {
      list-style-type: none;
      white-space: nowrap;

      li {
        display: inline-block;
        padding-left: 90px;

        a {
          color: $header-text-color;
          text-decoration: none;
          font-family: 'Bricolage Grotesque', sans-serif;
          font-family: 'DM Sans', sans-serif;
          font-family: 'IBM Plex Mono', monospace;
          font-family: 'Montserrat', sans-serif;
          font-family: 'Mukta', sans-serif;

          &:hover {
            color: #9b9e9e;
          }
        }
      }
    }

    // Добавленный стиль для неупорядоченного списка
   
    
  }
}

// Стили футера
footer {
    background-color: $footer-background;
    color: $footer-text-color;
    padding: 20px;
    text-align: center;
    min-width: 100%;
  
    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  
      p {
        margin: 0;
        flex: 1;
      }
  
      .footer-links {
        flex: 1;
        padding: left 70px;;
  
        a {
          color: $footer-text-color;
          text-decoration: none;
          margin-left: 10px;
          font-family: 'Bricolage Grotesque', sans-serif;
          font-family: 'DM Sans', sans-serif;
          font-family: 'IBM Plex Mono', monospace;
          font-family: 'Montserrat', sans-serif;
          font-family: 'Mukta', sans-serif;
  
          &:hover {
            color: #9b9e9e;
          }
        }
      }
    }
  }

  div{
    margin-top: 200px;
  }

  html,body{
    height: 100%;
  }

  .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  main{
    flex: 1 1 auto;

    a{
      text-decoration: none;
      img{
        margin-bottom: 0;
      }
    }
    span{ 
     p{
       @include Font_style()
       text-decoration: none;
     }
   } 
  }

  .zagalovok{
    @include Font_style()
  }